torch==1.11.0
torchvision==0.12.0
numpy
tqdm
tensorboard
matplotlib
pandas
unidecode
inflect
librosa
gdown==4.5.4

speechbrain~=0.5.12
datasets
editdistance
wandb
pyctcdecode
torchaudio~=0.11.0
pillow
